.card{
    margin: 1em;
    box-shadow: .5px 1.2px #888888;
}

.style{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.btn-danger{
    margin-left: 10px;
}